<!DOCTYPE html>
<html>

<head>
  <title>Salus Web View</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='setup.js') }}"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar" id="navbar">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='salus-logo-web.png') }}" height="30" alt="">
    </a>
  </nav>

  <div id="wrapper">
    <div id="map">
        <style>
            #submit-map {
                background: url("/static/images/submit_map_button.png") no-repeat scroll 0 0 transparent;
                z-index: 300;
                position: absolute;
                width: 40px;
                height: auto;
                padding: 20px;
                margin: 20px;
            }
            </style>
        <div class="leaflet-bottom leaflet-right">
            <button ion-button class="button-action" onclick="Action()" id="submit-map" block>Action!</button>
        </div>
        <button id="delete-building"></button>
        <button id="complex-mode"></button>
        <button id="simple-mode"></button>
        <button id="four-corners-mode"></button>
        <!-- <button id="submit-map"></button> -->
    </div>

    <div id="onboarding-div">
        <div id="onboarding-title">Welcome to Salus!</div>
        <div id="onboarding-subtitle">Campus safety system</div>
        <div id="onboarding-graphics">
            <div class="onboarding-group">
                <img src="{{ url_for('static', filename='images/campus.png') }}">
                <div class="onboarding-text">Find your campus</div>
            </div>
            <div class="onboarding-group">
                <img src="{{ url_for('static', filename='images/mapbuildings.png') }}">
                <div class="onboarding-text">Map important buildings</div>
            </div>
            <div class="onboarding-group">
                <img src="{{ url_for('static', filename='images/safety.png') }}">
                <div class="onboarding-text">Plan and execute safety protocols</div>
            </div>
            <div class="onboarding-group">
                <img src="{{ url_for('static', filename='images/accountability.png') }}">
                <div class="onboarding-text">Maintain accountability during emergencies</div>
            </div>
        </div>
        <button class="letsgo" onclick="dismissOnboarding()">Let's go!</button>
    </div>

    <div id="onboarding-div-map">
        <div id="onboarding-div-map-wrapper">
            <img src="{{ url_for('static', filename='images/map_directions.png') }}">
            <button class="letsgo" onclick="dismissMapOnboarding()">Continue</button>
        </div>
    </div>

    <div id="overlay">
      <div id="center-items">
        <img id="logo" src="{{ url_for('static', filename='salus-logo-web.png') }}">
        <div id="schoolFields">
          <input type="text" id="schoolInput" value="">
          <button class="btn btn-primary" type="submit" id="schoolGo">Go</button>
        </div>
      </div>

    </div>
    <script>
      // Create map
      const cur_lat = parseFloat("{{ lat }}");
      const cur_lng = parseFloat("{{ lng }}");
      const cur_zoom = parseFloat("{{ zoom }}");
      const access_key = "{{ access_key }}";

      // config.yml decides this
      var map = L.map('map').setView([cur_lat, cur_lng], cur_zoom);

      // uses the variable accessKey in config, which is set in the initial config.yml, to pull images
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ access_key }}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.satellite', // change to 'mapbox.streets' for a street view
      }).addTo(map);


    </script>
  </div>
</body>

</html>