<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Salus - Protocols</title>

     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='setup.js') }}"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- <div class="container" style="width: 100%"> -->
        <div class="row" style="background-color:blanchedalmond">
          <div style="height:95vh; margin-left: 0px; margin-right: 40px; width: 20%; overflow: auto">
              <center>
                <h4 style="margin-top:15px;"> Protocols </h4>
                 <a href="#" class="btn btn-success " style="width:90%; margin-top: 5px;">Create a New Protocol</a>

                {% for protocol in protocols %}

                <div class="card" id={{protocol.id}} style="width: 18rem; width: 85%; margin-top:10px; ">
                        <div class="card-body">
                          <h5 class="card-title"> {{ protocol.protocolName }} </h5>
                          <h6 class="card-subtitle mb-2 text-muted"> {{ protocol.type }} </h6>
                          <p class="card-text">{{ protocol.initialInstruction }}</p>
                          <a href="" class="btn btn-primary" style="width: 45%">Preview</a>
                          <a href="#" class="btn btn-primary" style="width: 45%">Edit</a>
                          </ br>
                          <a href="../emergency/startEmergency?protocolID={{protocol.id}}" class="btn btn-danger" style="width:90%; margin-top: 5px;">Start Emergency</a>
                        </div>
                </div>

                {% endfor %}
              </center>

          </div>
          <div style="background-color: aqua; margin-left: 0px; padding-left: 10px; width: 75%;">
          <div id="wrapper">
            <div id="map"></div>
          </div>

            <script>
              // Create map
              const cur_lat = parseFloat("{{ lat }}");
              const cur_lng = parseFloat("{{ lng }}");
              const cur_zoom = parseFloat("{{ zoom }}");
              const access_key = "{{ access_key }}";

              // config.yml decides this
              var map = L.map('map').setView([cur_lat, cur_lng], cur_zoom);

              // uses the variable accessKey in config, which is set in the initial config.yml, to pull images
              L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ access_key }}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.satellite', // change to 'mapbox.streets' for a street view
              }).addTo(map);


                // Polygons
                var zones = {}

                // Add a zones to the map
                function addPolygons(rectPoints, ids, geostructure_type) {
                    for (i in rectPoints) {
                        points = rectPoints[i];
                        // store points and type
                        let newPolygon = L.polygon(points)
                        if (geostructure_type[i] === 1) {
                            newPolygon.setStyle({fillColor: '#91dba5', color: "#000000"});
                        }

                        zones[ids[i]] = [newPolygon, geostructure_type[i]];
                        zones[ids[i]][0].addTo(map);

                    }
                }

            </script>
            </div>
          </div>

        </div>
      <!-- </div> -->




  </body>
</html>


