<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Salus - Protocols</title>

     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='setup.js') }}"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- <div class="container" style="width: 100%"> -->
        <div class="row" style="background-color:blanchedalmond">
          <div style="height:95vh; margin-left: 0px; margin-right: 40px; width: 20%; overflow: auto">
                <h4 style="margin-top:15px;"> Protocols </h4>
                 <a href="/protocolPicker/create_new_protocol" class="btn btn-success " style="width:90%; margin-top: 5px;">Create a New Protocol</a>

                {% for protocol in protocols %}

                <div class="card" id={{protocol.id}} style="width: 18rem; width: 85%; margin-top:10px; ">
                        <div class="card-body">
                          <h5 class="card-title"> {{ protocol.protocolName }} </h5>
                          <h6 class="card-subtitle mb-2 text-muted"> {{ protocol.type }} </h6>
                          <p class="card-text">{{ protocol.initialInstruction }}</p>
                          <a href="" class="btn btn-primary" style="width: 45%">Preview</a>
                          <a href="#" class="btn btn-primary" style="width: 45%">Edit</a>
                          </ br>
                          <a href="../emergency/startEmergency?protocolID={{protocol.id}}" class="btn btn-danger" style="width:90%; margin-top: 5px;">Start Emergency</a>
                        </div>
                </div>

                {% endfor %}

          </div>
          <div style="background-color: aqua; margin-left: 0px; padding-left: 10px; width: 75%;">
          <div id="wrapper">
            <div id="map"></div>
          </div>
            <script>

              // Create map
              const cur_lat = parseFloat("{{ lat }}");
              const cur_lng = parseFloat("{{ lng }}");
              const cur_zoom = parseFloat("{{ zoom }}");
              const access_key = "{{ access_key }}";

              // config.yml decides this
              var map = L.map('map').setView([cur_lat, cur_lng], cur_zoom);

              // uses the variable accessKey in config, which is set in the initial config.yml, to pull images
              L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ access_key }}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.satellite', // change to 'mapbox.streets' for a street view
              }).addTo(map);

        
        var status_chooser = 'green';

        L.Control.StatusChooser = L.Control.extend({
            options: {
                position: 'topright',
                text: 'SC',
                title: 'Status Chooser'
            },
            onAdd: function (map) {
                var zoomName = 'leaflet-control-zoom',
                    container = L.DomUtil.create('div', zoomName + ' leaflet-bar'),
                    options = this.options;
                this.statusChooser = this._createButton(options.text, options.title,
                        zoomName + '-in',  container, this.buttonClick);
                return container;
            },
            buttonClick: function (e) {
                if (status_chooser == 'red') {
                  status_chooser = 'yellow';
                } else if (status_chooser == 'yellow') {
                  status_chooser = 'green';
                } else {
                  status_chooser = 'red';
                }

                var color = "#C04444";
                if (status_chooser == 'yellow') {
                    color = "#F1B652";
                } else if (status_chooser == 'green') {
                  color = '#45B76F'
                }   
                this.statusChooser.style.backgroundColor = color;
            },
            _createButton: function (html, title, className, container, fn) {
                var link = L.DomUtil.create('a', className, container);
                link.innerHTML = html;
                link.href = '#';
                link.title = title;
                /*
                 * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                 */
                link.setAttribute('role', 'button');
                link.setAttribute('aria-label', title);
                L.DomEvent.disableClickPropagation(link);
                L.DomEvent.on(link, 'click', L.DomEvent.stop);
                L.DomEvent.on(link, 'click', fn, this);
                L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                return link;
            }
        });

        // Merge button constructor
        L.Control.statusChooser = function(opts) {
            return new L.Control.StatusChooser(opts);
        }

        // Add the merge button to the map
        var statusChooserButton = L.Control.statusChooser().addTo(map);

        var submit_protocol = false;

        L.Control.SubmitProtocol = L.Control.extend({
            options: {
                position: 'topright',
                text: 'SP',
                title: 'Submit Protocol'
            },
            onAdd: function (map) {
                var zoomName = 'leaflet-control-zoom',
                    container = L.DomUtil.create('div', zoomName + ' leaflet-bar'),
                    options = this.options;
                this.submit_protocol = this._createButton(options.text, options.title,
                        zoomName + '-in',  container, this.buttonClick);
                return container;
            },
            buttonClick: function (e) {
                submit_protocol = !submit_protocol;
                if (submit_protocol) {
                  const name = prompt("Name This Protocol");
                  const event = prompt("What situation is this?");
                  const initial_instruct = prompt("What is an initial instruction?");
                  const string = JSON.stringify(id_to_color);
                  const params = "json=" + JSON.stringify(id_to_color);
                      var xhr = new XMLHttpRequest();
                      xhr.open("POST", "/protocolPicker/addNewProtocol?protocolName=" + name + "&type=" + event + "&initialInstruction=" + initial_instruct + "&mapOfBuildingIds=" + string, true);
                      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                      xhr.onreadystatechange = function() {
                      if (xhr.readyState == 4 && xhr.status == 200) {

                      }
                  }
                  xhr.send(params);
                }
            },
            _createButton: function (html, title, className, container, fn) {
                var link = L.DomUtil.create('a', className, container);
                link.innerHTML = html;
                link.href = '#';
                link.title = title;
                /*
                 * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                 */
                link.setAttribute('role', 'button');
                link.setAttribute('aria-label', title);
                L.DomEvent.disableClickPropagation(link);
                L.DomEvent.on(link, 'click', L.DomEvent.stop);
                L.DomEvent.on(link, 'click', fn, this);
                L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                return link;
            }
        });

        // Merge button constructor
        L.Control.submit_protocol = function(opts) {
            return new L.Control.SubmitProtocol(opts);
        }

        // Add the merge button to the map
        var submit_protocol_button = L.Control.submit_protocol().addTo(map);


        function isMarkerInsidePolygon(lat, lng, poly) {
            var inside = false;
            var x = lat, y = lng;
            for (var ii=0;ii<poly.getLatLngs().length;ii++){
                var polyPoints = poly.getLatLngs()[ii];
                for (var i = 0, j = polyPoints.length - 1; i < polyPoints.length; j = i++) {
                    var xi = polyPoints[i].lat, yi = polyPoints[i].lng;
                    var xj = polyPoints[j].lat, yj = polyPoints[j].lng;

                    var intersect = ((yi > y) != (yj > y))
                        && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
                    if (intersect) inside = !inside;
                }
            }

            return inside;
        };

        // Handle map clicks
        function onMapClick(e) {
          console.log('in system', e.latlng.lat, e.latlng.lng);
            for (var b_id in id_to_polygon) {
              poly = id_to_polygon[b_id];
              latlngs = poly.getLatLngs();
              if (isMarkerInsidePolygon(e.latlng.lat, e.latlng.lng, poly) ) {
                console.log("found match");
                id_to_color[b_id] = status_chooser;
              }
            }
            }
            map.on("click", onMapClick);

            </script>

            {% if zones %}
            <script>
                // Polygons
                var id_to_polygon = {};
                var tiles_to_ids = {};

                // post
                var id_to_color = {};

                // Add a polygons to the map
                function addPolygon(points, id, tile) {
                  console.log(points);
                  let newPolygon = L.polygon(points)
                  newPolygon.addTo(map);
                  id_to_polygon[id] = newPolygon;
                  if (tile in tiles_to_ids) {
                    tiles_to_ids[tile].append(id);
                  } else {
                    tiles_to_ids = [id];
                  }
                }
              
                var zones = JSON.parse('{{zones | tojson}}');
                var i = 0;
                while (i < zones.length) {
                  var cur_id = zones[i]['buildingId'];
                  var geopoints = [];
                  var tiles = [];
                  while (zones[i]['buildingId'] === cur_id) {
                    geopoints.push([zones[i]['latitude'], zones[i]['longitude']]);
                    tiles.push([zones[i]['xTile'], zones[i]['yTile']]);
                    i++;
                  }
                  addPolygon(geopoints, cur_id, tiles);
                }
            </script>
            {% endif %}
            </div>
          </div>

        </div>
      <!-- </div> -->




  </body>
</html>


