<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Salus - Protocols</title>

     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='setup.js') }}"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  </head>
  <body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- <div class="container" style="width: 100%"> -->
        <div class="row" style="background-color:blanchedalmond">
          <div style="height:95vh; margin-left: 0px; margin-right: 40px; width: 20%; overflow: auto">
              <center>
                <h4 style="margin-top:15px;"> Protocols </h4>
                 <a href="#" class="btn btn-success " style="width:90%; margin-top: 5px;">Create a New Protocol</a>

                {% for protocol in protocols %}

                <div class="card" id={{protocol.id}} style="width: 18rem; width: 85%; margin-top:10px; ">
                        <div class="card-body">
                          <h5 class="card-title"> {{ protocol.protocolName }} </h5>
                          <h6 class="card-subtitle mb-2 text-muted"> {{ protocol.type }} </h6>
                          <p class="card-text">{{ protocol.initialInstruction }}</p>
                          <a href="" class="btn btn-primary" style="width: 45%">Preview</a>
                          <a href="#" class="btn btn-primary" style="width: 45%">Edit</a>
                          </ br>
                          <a href="../emergency/startEmergency?protocolID={{protocol.id}}" class="btn btn-danger" style="width:90%; margin-top: 5px;">Start Emergency</a>
                        </div>
                </div>

                {% endfor %}
              </center>

          </div>
          <div style="background-color: aqua; margin-left: 0px; padding-left: 10px; width: 75%;">


            <div id="wrapper">
              <div id="map"></div>

              <div id="onboarding-div">
                  <div id="onboarding-title">Welcome to Salus!</div>
                  <div id="onboarding-subtitle">Campus safety system</div>
                  <div id="onboarding-graphics">
                      <div class="onboarding-group">
                          <img src="{{ url_for('static', filename='images/campus.png') }}">
                          <div class="onboarding-text">Find your campus</div>
                      </div>
                      <div class="onboarding-group">
                          <img src="{{ url_for('static', filename='images/mapbuildings.png') }}">
                          <div class="onboarding-text">Map important buildings</div>
                      </div>
                      <div class="onboarding-group">
                          <img src="{{ url_for('static', filename='images/safety.png') }}">
                          <div class="onboarding-text">Plan and execute safety protocols</div>
                      </div>
                      <div class="onboarding-group">
                          <img src="{{ url_for('static', filename='images/accountability.png') }}">
                          <div class="onboarding-text">Maintain accountability during emergencies</div>
                      </div>
                  </div>
                  <button id="letsgo" onclick="dismissOnboarding()">Let's go!</button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Welcome to Salus!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      To start, click the the northwest-most and southeast-most points of your campus.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal" onclick="enableMap()">Okay</button>
                    </div>
                  </div>
                </div>
              </div>

              <div id="overlay">
                <div id="center-items">
                  <img id="logo" src="{{ url_for('static', filename='salus-logo-web.png') }}">
                  <div id="schoolFields">
                    <input type="text" id="schoolInput" value="">
                    <button class="btn btn-primary" type="submit" id="schoolGo">Go</button>

                  </div>
                </div>

              </div>
              <script>
                // Create map
                const cur_lat = parseFloat("{{ lat }}");
                const cur_lng = parseFloat("{{ lng }}");
                const cur_zoom = parseFloat("{{ zoom }}");
                const access_key = "{{ access_key }}";

                // config.yml decides this
                var map = L.map('map').setView([cur_lat, cur_lng], cur_zoom);

                // uses the variable accessKey in config, which is set in the initial config.yml, to pull images
                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ access_key }}', {
                  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                  maxZoom: 18,
                  id: 'mapbox.satellite', // change to 'mapbox.streets' for a street view
                }).addTo(map);

                  var setupMode = false;

                  L.Control.SetupButton = L.Control.extend({
                      options: {
                          position: 'topleft',
                          text: 'S',
                          title: 'Setup Mode?'
                      },
                      onAdd: function (map) {
                          var zoomName = 'leaflet-control-zoom',
                              container = L.DomUtil.create('div', zoomName + ' leaflet-bar'),
                              options = this.options;
                          this.setupButton = this._createButton(options.text, options.title,
                                  zoomName + '-in',  container, this.buttonClick);
                          return container;
                      },
                      buttonClick: function (e) {
                          setupMode = !setupMode;
                          var color = "#FFFFFF";
                          if (setupMode) {
                              deleteBuildings.enable();
                              color = "#BBFFBB";
                          }
                          this.setupButton.style.backgroundColor = color;

                          // send post reques saying "Setup" was clicked
                          var params = "";
                          var xhr = new XMLHttpRequest();
                          xhr.open("POST", "./setup", true);
                          xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                          // Wait for a response
                          xhr.onreadystatechange = function() {
                              if (xhr.readyState === 4 && xhr.status === 200) {
                                  console.log("got return"); // here you should enable setup scripts
                              }
                          }
                          xhr.send(params);
                      },
                      _createButton: function (html, title, className, container, fn) {
                          var link = L.DomUtil.create('a', className, container);
                          link.innerHTML = html;
                          link.href = '#';
                          link.title = title;
                          /*
                           * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                           */
                          link.setAttribute('role', 'button');
                          link.setAttribute('aria-label', title);
                          L.DomEvent.disableClickPropagation(link);
                          L.DomEvent.on(link, 'click', L.DomEvent.stop);
                          L.DomEvent.on(link, 'click', fn, this);
                          L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                          return link;
                      }
                  });

                  // Merge button constructor
                  L.Control.setupButton = function(opts) {
                      return new L.Control.SetupButton(opts);
                  }

                  // Add the merge button to the map
                  var setupButton = L.Control.setupButton({ position: "topleft" }).addTo(map);

                  // Handle map clicks
                  function onMapClick(e) {
                          if (setupMode) {
                                  console.log('sending post...');

                                  if (deleteClick) {
                                      const params = "lat=" + encodeURIComponent(e.latlng.lat + "") +
                                                  "&lng=" + encodeURIComponent(e.latlng.lng + "") +
                                                  "&zoom=" + encodeURIComponent(map.getZoom());
                                                  var xhr = new XMLHttpRequest();
                                                  xhr.open("POST", "./setup/delete", true);
                                                  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                                  xhr.onreadystatechange = function() {
                                                  if (xhr.readyState == 4 && xhr.status == 200) {
                                                      // Parse the response
                                                      var responseJson = JSON.parse(xhr.responseText);
                                                      var rectsToDelete = responseJson["rects_to_delete"];

                                                      // Delete polygon(s)
                                                      if (rectsToDelete["ids"].length > 0) {
                                                          // removeMasks(rectsToDelete["ids"]);
                                                          removePolygon(rectsToDelete['ids']);
                                                      }
                                                  }
                                              }
                                          xhr.send(params);
                                  }
                                  else {
                                      const params = "lat=" + encodeURIComponent(e.latlng.lat + "") +
                                                      "&lng=" + encodeURIComponent(e.latlng.lng + "") +
                                                      "&zoom=" + encodeURIComponent(map.getZoom());
                                      var xhr = new XMLHttpRequest();
                                      xhr.open("POST", "/setup/corners", true);
                                      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                      xhr.onreadystatechange = function() {
                                          if (xhr.readyState == 4 && xhr.status == 200) {
                                              // these will be hella buildings
                                              console.log("got response, buildings will be plotted");

                                              // Parse the response
                                              var responseJson = JSON.parse(xhr.responseText);
                                              var rectsToAdd = responseJson["rects_to_add"];
                                              var rectsToDelete = responseJson["rects_to_delete"];

                                              // Add polygon(s)
                                              if (rectsToAdd.length > 0) {

                                                  var rect = rectsToAdd[0];
                                                  var rectPoints = rect["points"];
                                                  var rectIds = rect["ids"];
                                                  addPolygons(rectPoints, rectIds);
                                              }
                                          }
                                      }
                                      xhr.send(params);
                                  }
                          }
                      }
                  map.on("click", onMapClick);


                  // Polygons
                  var polygons = {}
                  var polygonStack = [];

                  // Add a polygons to the map
                  function addPolygons(rectPoints, ids) {
                      for (i in rectPoints) {
                          points = rectPoints[i];
                          polygons[ids[i]] = L.polygon(points);
                          polygons[ids[i]].addTo(map);

                          // Update the polygon stack
                          polygonStack.push(ids[i]);
                      }
                  }

                  // Remove a polygon, from cntrl-z or merge_mode
                  function removePolygon(id, updateStack=true, sendChange=false) {
                      // Remove from map
                      console.log('removing:', id);
                      if (id == -1) { // -1 means no building
                          return;
                      }
                      polygons[id].remove();

                      // Remove from dictionary
                      delete polygons[id];

                      if (updateStack) {
                          polygonStack.splice(polygonStack.indexOf(id), 1);
                      }
                  }

                  var deleteClick = false;

                  // Add merge control
                  L.Control.DeleteBuildings = L.Control.extend({
                      options: {
                          position: 'topleft',
                          text: 'DB',
                          title: 'Delete Buildings'
                      },
                      onAdd: function (map) {
                          var zoomName = 'leaflet-control-zoom',
                              container = L.DomUtil.create('div', zoomName + ' leaflet-bar'),
                              options = this.options;
                          this.deleteBuildings = this._createButton(options.text, options.title,
                                  zoomName + '-in',  container, this.buttonClick);
                          this.disable();
                          return container;
                      },
                      buttonClick: function (e) {
                          if (setupMode) {
                              deleteClick = !deleteClick;
                              var col = "#FFFFFF";
                              if (deleteClick) {
                                  col = "#FF0000";
                              }
                              this.deleteBuildings.style.backgroundColor = col;


                          }
                      },
                      _createButton: function (html, title, className, container, fn) {
                          var link = L.DomUtil.create('a', className, container);
                          link.innerHTML = html;
                          link.href = '#';
                          link.title = title;
                          /*
                           * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                           */
                          link.setAttribute('role', 'button');
                          link.setAttribute('aria-label', title);
                          L.DomEvent.disableClickPropagation(link);
                          L.DomEvent.on(link, 'click', L.DomEvent.stop);
                          L.DomEvent.on(link, 'click', fn, this);
                          L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                          return link;
                      },
                      disable: function () {
                          this.deleteBuildings.style.opacity = 0.2;
                      },
                      enable: function () {
                          this.deleteBuildings.style.opacity = 1;
                      },
                  });

                  // Merge button constructor
                  L.Control.deleteBuildings = function(opts) {
                      return new L.Control.DeleteBuildings(opts);
                  }

                  // Add the merge button to the map
                  var deleteBuildings = L.Control.deleteBuildings({ position: "topleft" }).addTo(map);
                  deleteBuildings.disable();

              </script>
            </div>
          </div>

        </div>
      <!-- </div> -->




  </body>
</html>


